/*
!*Downloaded from https://www.codeseek.co/adriver/multiple-images-easyzoom-qZqoXz *!
#owl-demo .item {
    text-align: center;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-theme .owl-controls {
    position: relative;
}

.owl-theme .owl-controls .item-link {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    border-bottom: 4px solid #fff;
    !*   outline: none; *!
}

.owl-theme .owl-controls .item-link:focus {
    -webkit-box-shadow: 0 0 8px #cc4895;
    -moz-box-shadow: 0 0 8px #cc4895;
    box-shadow: 0 0 8px #cc4895;
    outline: none;
}

.owl-theme .owl-controls .active .item-link {
    border-bottom: 4px solid #69a69c;
}

.owl-theme .owl-controls .owl-page span {
    display: none;
}
.owl-pagination > div {
    padding:0;
}
*/

.product-slider-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-slider-section .carousel-inner {
    cursor: crosshair;
}

.product-slider-section .carousel-indicators li {
    border: 2px solid transparent;
    cursor: pointer;
    float: left;
    height: auto;
    margin: 10px 0 12px 0;
    padding: 5px;
    text-align: center;
    text-indent: unset;
    width: 185px;
}

/*Thumbnails*/

.product-slider-section .carousel-indicators {
    overflow-y: hidden;
    overflow-x: auto;
}

.product-slider-section .carousel-indicators li.active {
    border: 2px solid #ddd;
}

.product-slider-section .carousel-indicators li .data-slide-image {
    width: 100px;
    margin: 0 auto;
}

/*Product Slider Carousel*/

